html,
body {
    height: 100%;
    background-color: #f1f2f6;
    font-size: 15px;
}

/**Header**/
.header {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 3;
    padding: 15px 0;
}

.header.fixedHeader {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background: #fff;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    z-index: 99;
}

.header.fixedHeader .logo {
    display: none;
}

.header.fixedHeader .logo2 {
    display: block !important;
}

.header.fixedHeader .mainNav ul li a {
    color: #000;
}

.mainNav {}

.mainNav ul {}

.mainNav ul li {
    display: inline-block;
    margin-left: 32px;
}

.mainNav ul li a {
    font-weight: 700;
    color: #fff;
    display: block;
    font-weight: 700;
    text-transform: uppercase;
    line-height: .5;
    font-size: 17px;
}

.mainNav ul li.active a {
    color: #007bff !important;
}

.mainNav ul li a:hover {
    color: #007bff !important;
}

/* header end */

/* h begin */
h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: extra-bold;
    font-size: 26px;
}

h5 {
    font-family: 'Poppins', sans-serif;
    font-weight: extra-bold;
}

/* h end */

.first {
    position: relative;
    overflow: hidden;
    height: 100%;
    padding-top: 90px;
    background-color: #f1f2f6;

}

.first::before {
    border-radius: 100%;
    position: absolute;
    background-image: linear-gradient(#004080, #0080ff);
    right: -450px;
    left: -430px;
    top: -200px;
    content: '';
    bottom: 0
}

.left {
    text-align: left;
}

.cen {
    text-align: center;
    align-items: center;
}



.blu {
    color: #12054c;
}

.grey {
    color: #C0C0C0;
}

.box {
    -webkit-box-shadow: 0px 0px 94px 17px rgba(211, 211, 211, 1);
    -moz-box-shadow: 0px 0px 94px 17px rgba(211, 211, 211, 1);
    box-shadow: 0px 0px 94px 17px rgba(211, 211, 211, 1);
}

.mar {
    margin: 0 10px 0 10px;
}

.pop {
    font-style: bold;
    font-family: 'Poppins', sans-serif;
}

.ave,
p {
    font-family: AnenirNext;
}

.italic {
    font-family: AnenirNext;
    font-style: italic;
}

@font-face {
    font-family: AnenirNext;
    src: url(/fonts/AvenirNextLTPro-Regular.otf);
}

@font-face {
    font-family: AnenirNext;
    src: url(/fonts/AvenirNextLTPro-It.otf);
}

.white {
    background-color: #fff;
}

section {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.blue {
    background-image: linear-gradient(#004080, #12054c);
    color: #fff;
}

/* timelin */

ul.timeline {
    list-style-type: none;
    position: relative;
}

ul.timeline:before {
    content: '';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}

ul.timeline>li {
    margin: 20px 0;
    padding-left: 50px;
}

ul.timeline>li:before {
    content: ' ';
    background: #004080;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #0080ff;
    left: -9px;
    width: 80px;
    height: 80px;
    z-index: 400;
}

.b {
    font-weight: bold;
    font-size: 20px;
}

.c {
    font-size: 24px;
}