/* @font-face {
    font-family: AnenirNext;
    src: url(fonts/AvenirNextLTPro-It.otf);
    font-style: italic;

} */

@font-face {
    font-family: AnenirNext;
    src: url(fonts/AvenirNextLTPro-Regular.otf);
}

/* @font-face {
    font-family: AnenirNext;
    src: url(fonts/AvenirNextLTPro-Bold.otf);
    font-weight: bold;
} */

.trans {
    background-color: transparent;
    color: #fff;
}

.fit {
    padding-right: 0px;
    padding-left: 0px;
    margin-right: 0px;
    margin-left: 0px;
}

.pad {
    padding-top: 50px;
}

.rpadd {
    padding-right: 164px !important;

}

html,
body {
    height: 100%;
    background-color: #f1f2f6;
    font-size: 15px;
}

.padd {
    padding-left: 80px;
    padding-right: 80px;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 26px;
}

.first {
    position: relative;
    overflow: hidden;
    height: 100%;
    padding-top: 90px;
    background-color: #f1f2f6;

}

.first::before {
    border-radius: 100%;
    position: absolute;
    background-image: linear-gradient(#004080, #0080ff);
    right: -450px;
    left: -430px;
    top: -200px;
    content: '';
    bottom: 0
}

/* .first {
    height: 100vh;
    min-height: 400px;
    background-size: cover;
    background-image: linear-gradient(#004080, #0080ff);
    background-color: #f1f2f6;
    background-position: top center;
    border-bottom-left-radius: 35%;
    padding-top: 100px;
} */

.fir {
    height: 20vh;
    min-height: 400px;
    background-size: cover;
    background-image: linear-gradient(#004080, #0080ff);
    background-position: top center;
    border-bottom-left-radius: 30%;
    padding-top: 50px;
}



.affix {
    background-color: #0080ff;
    -webkit-transition: padding 0.2s ease-out;
    -moz-transition: padding 0.2s ease-out;
    -o-transition: padding 0.2s ease-out;
    transition: padding 0.2s ease-out;
}

@media (min-width:768px) {
    .affix-top {
        /* navbar style at top */
        background-color: transparent;
        border-color: transparent;
        padding: 15px;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }
}

nav .navbar-nav .nav-link,
nav .navbar-brand {
    color: white;
}

section {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
}

.left {
    text-align: left;
}

.cen {
    text-align: center;
    align-items: center;
}

.white {
    background-color: #fff;
}

h5 {
    font-family: 'Poppins', sans-serif;
    font-weight: extra-bold;
}

.blue {
    background-image: linear-gradient(#004080, #12054c);
    color: #fff;

}

.sec {
    /* height: calc(50% - 70px);
    height: 80vh; */
}

.blu {
    color: #12054c;
}

.grey {
    color: #C0C0C0;
}

.box {
    -webkit-box-shadow: 0px 0px 49px -6px rgba(192, 192, 192, 1);
    -moz-box-shadow: 0px 0px 49px -6px rgba(192, 192, 192, 1);
    box-shadow: 0px 0px 49px -6px rgba(192, 192, 192, 1);
}

.mar {
    margin: 0 10px 0 10px;
}

.pop {
    font-style: bold;
    font-family: 'Poppins', sans-serif;
}

.ave,
p {
    font-family: AnenirNext;
}

.italic {
    font-family: AnenirNext;
    font-style: italic;
}


/* timelin */

ul.timeline {
    list-style-type: none;
    position: relative;
}

ul.timeline:before {
    content: '';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}

ul.timeline>li {
    margin: 20px 0;
    padding-left: 50px;
}

ul.timeline>li:before {
    content: ' ';
    background: #004080;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #0080ff;
    left: -9px;
    width: 80px;
    height: 80px;
    z-index: 400;
}

.b {
    font-weight: bold;
    font-size: 20px;
}

.c {
    font-size: 24px;
}

/**Header**/
.header {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 3;
    padding: 15px 0;
}

.header.fixedHeader {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background: #fff;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    z-index: 99;
}

.header .logo2 {
    display: none;

}

.header.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E")
}

.header.fixedHeader .logo {
    display: none;
}

.header.fixedHeader .logo2 {
    display: block !important;
}

.header.fixedHeader .mainNav ul li a {
    color: #000;
}

.mainNav {}

.mainNav ul {}

.mainNav ul li {
    display: inline-block;
    margin-left: 32px;
}

.mainNav ul li a {
    color: #fff;
    line-height: .5;
    /* font-size: 17px; */
}

.mainNav ul li.active a {
    color: #007bff !important;
}

.mainNav ul li a:hover {
    color: #007bff !important;
}

.lpad {
    padding-left: 50px;
}

.rpad {
    padding-right: 50px;
}

.t {
    padding-bottom: 3.25rem;
}

.vc {
    margin: auto;
}

.bo {
    font-weight: bold;
}

.lmar {
    margin-left: 50px;
}